html,body {
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: "Gotham", Sans-serif;
}

.artsinfo{
	text-decoration: none;
	color: #4c4c4c;
}

#artslegend{
	color: #4c4c4c;
	border: 1px solid yellow;
	height:150px;
	width: 200px;
}

.esri-view-height-xsmall .esri-ui-corner .esri-legend {
    max-height: 440px;
}